<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMESys</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    
<link rel="stylesheet" href="/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        <script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>
  
</head>

<body>
    <div id="app">
  <aside th:replace="gauche :: gauche">...</aside>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<div class="page-heading">
    <h3>SMESys input data</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-6 col-lg-6">
            <div class="row">
               <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <h5 class="card-title">Selecting data</h5>
                            <p class="card-text">
                               Use the filtering options below to hide or show specific subsets of selected data. 
                            </p>
                             <form data-th-action="@{/verifier}" method="post">
                                <div class="form-body">
                                
                                    <div class="form-group">
                                        <label for="feedback1" class="sr-only"><h5>South</h5></label> <input type="text" id="feedback1" class="form-control" placeholder="" name="south">
                                    </div>
                                    
                                     <div class="form-group">
                                        <label for="feedback1" class="sr-only"><h5>North</h5></label> <input type="text" id="feedback1" class="form-control" placeholder="" name="north">
                                    </div>
                                    
                                     <div class="form-group">
                                        <label for="feedback1" class="sr-only"><h5>West</h5></label> <input type="text" id="feedback1" class="form-control" placeholder="" name="west">
                                    </div>
                                    
                                     <div class="form-group">
                                        <label for="feedback1" class="sr-only"><h5>East</h5></label> <input type="text" id="feedback1" class="form-control" placeholder="" name="east">
                                    </div>
                                    
                                <div class="form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12"><h5>Start date:</h5></label>
			                        <div class="col-md-9 col-sm-9 col-xs-12">
			                          <input type="date" class="form-control"  name="datedeb" ></input>
			                        </div>
			                      </div>
			                         <div class="form-group">
			                        <label class="control-label col-md-3 col-sm-3 col-xs-12"><h5>End date:</h5></label>
			                        <div class="col-md-9 col-sm-9 col-xs-12">
			                          <input type="date" class="form-control"  name="datefin" ></input>
			                        </div>
                      </div>
                    
                                   
                                   
                                </div>
                                  <center>
                                <div >
                              
                                    <button type="submit" class="btn btn-primary me-1">Submit</button>
                                    <button type="reset" class="btn btn-light-primary">Cancel</button>
                                    
                                </div>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
       
      <div class="col-6 col-lg-6">
            <div class="row">
             <div id="mymap" class="col-md-12" style="height:650px;"></div>
        <script type="text/javascript">
            var layer = new L.StamenTileLayer("terrain");
            var map = new L.Map("mymap", {
                /* Center: Munich, Germany */
                center: new L.LatLng(33.3442960191357 , 10.48919677734375),
                /* Show most of western Europe */
                zoom: 5
            });
            map.addLayer(layer);
        </script>
            </div> 
        </div>
        <!--  
        <div class="col-12 col-lg-12">
            <div class="row">
          
            </div> 
        </div>-->
      
       
       
    </section>
</div>

           <aside th:replace="footer :: footer">...</aside>
        </div>
    </div>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    
<script src="/assets/vendors/apexcharts/apexcharts.js"></script>
<script src="/assets/js/pages/dashboard.js"></script>

    <script src="/assets/js/mazer.js"></script>
    
    
   
   
</body>

</html>
